<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rdr {% block title %}{% endblock %}</title>
    <meta name="description" content="Feed Reader">
    <meta name="author" content="Sascha Peilicke">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    {#<link href="/static/css/darkstrap.css" rel="stylesheet">#}
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>
  <body>
    {% include 'navbar.html' %}

    {% block container %}
      <div class="container-fluid">
        {% if user.is_authenticated %}
          {% include 'menubar.html' %}
          <hr/>
        {% endif %}

        <div class="row-fluid">
          <div class="span2">
            {% if user.is_authenticated %}
              <div class="sidebar-nav">
                <ul class="nav nav-list">
                  <li><a href="{% url apps.feeds.views.index %}"><i class="icon-home"></i>Overview</a></li>
                  <li><a href="#"><i class="icon-search"></i>Discover</a></li>
                  {% block sidebar_subscriptions %}
                    {% if subscriptions %}
                      <li class="nav-header">My Subscriptions</li>
                      {% for subscription in subscriptions %}
                        <li>
                          <a class="rdr-subscription-link" href="{% url apps.feeds.views.show subscription.feed.id %}">
                            {% firstof subscription.custom_feed_title subscription.feed.title %}
                            {% if subscription.unread_entries > 0 %}
                              ({{ subscription.unread_entries }})
                            {% endif %}
                            <i class="hidden icon-remove pull-right" title="Unsubscribe feed"></i>
                            <i class="hidden icon-edit pull-right" title="Edit feed title"></i>
                          </a>
                        </li>
                      {% endfor %}
                    {% endif %}
                  {% endblock %}
                </ul>
              </div>
            {% endif %}
          </div>
          <div class="span10">
            {% block content %}Content goes here!{% endblock %}
          </div>
        </div>
        <hr>
        <footer>
          <p>&copy; Sascha Peilicke 2012</p>
        </footer>
      </div>
    {% endblock %}

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/base.js"></script>
    <script type="text/javascript">
      $('.rdr-subscription-link').hover(
        function (data) { 
          $(this).children('.icon-edit').attr('class', 'icon-edit pull-right').show();
          $(this).children('.icon-remove').attr('class', 'icon-remove pull-right').show();
        },
        function (data) {
          $(this).children('.icon-edit').hide();
          $(this).children('.icon-remove').hide();
        }
      );
      {% block js %}{% endblock %}
    </script>
  </body>
</html>
