    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span2">
              <a class="brand" href="/">Rdr</a>
            </div>
            <div class="span10">
              <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
              <ul class="nav pull-right">
                {% if user.is_authenticated %}
                  <li class="dropdown">
                    {#<img src="{{ user.image }}" />#}
                    <a href"#" class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{#TODO: user.get_profile #}#">Profile</a></li>
                      {#<li><a href="#">Settings</a></li>#}
                      <li class="divider"></li>
                      <li><a href="{% url django.contrib.auth.views.logout %}?next=/">Log out</a></li>
                    </ul>
                  </li>
                {% else %}
                  <li><a href="{% url django.contrib.auth.views.login %}?next={% url rdr.feeds.views.index %}">Log In</a></li>
                  <li><a href="{% url rdr.accounts.views.register %}">Sign Up</a></li>
                {% endif %}
                {% if user.is_staff %}
                  <li><a href="{% url admin:index %}">Admin</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
