{% extends 'base.html' %}

{% block content %}
  <h3>
    <a href="{{ feed.link }}" target="_blank">{{ feed.title }}</a>
  </h3>
  {% if feed.subtitle %}<small>{{ feed.subtitle }}</small>{% endif %}
  <hr/>

  {% for entry in feed.entry_set.all %}
    <div class="entry" id="entry-{{ entry.id }}">
      {% if entry.published or entry.updated %}
        <small class="pull-right">
          {% if entry.published %}Published {{ entry.published }}{% endif %}
          {% if entry.published and entry.updated %}<br/>{% endif %}
          {% if entry.updated %}Updated {{ entry.updated }}{% endif %}
        </small>
      {% endif %}
      <h4>
        <a href="{{ entry.link }}" target="_blank">{{ entry.title }}</a>
        <i class="icon-star-empty"></i>
      </h4>
      {% if entry.author %}
        <small>by {{ entry.author }}</small>
      {% endif %}
      <p>{{ entry.summary|safe }}</p>
      <!--<form action="{% url rdr.feeds.views.visit feed.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="entry" value="{{ entry.id }}"/>
        <input type="submit" value="visit"/>
      </form>-->
    </div>
  {% endfor %}
{% endblock %}
