        <div class="row-fluid">
          <div class="span2">
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Subscribe to Feed
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <form class="form-inline">
                  <input type="text" class="input-large" placeholder="Feed URL">
                  <button type="submit" class="btn">Subscribe</button>
                </form>
              </ul>
            </div>
          </div>
          <div class="span3">
              <form class="form-inline nomargin">
                <input type="text" placeholder="Search">
                <button type="submit" class="btn"><i class="icon-search"></i></button>
              </form>
          </div>
          <div class="span7">
            <div class="btn-toolbar">
              <div class="btn-group">
                <a class="btn" href="#" title="Reload all feeds"><i class="icon-refresh"></i></a>
              </div>
              <div class="btn-group">
                <a class="btn" href="#" title="Feed settings"><i class="icon-edit"></i></a>
                <a class="btn" href="#" title="Unsubscribe from feed"><i class="icon-trash"></i></a>
              </div>
            </div>
          </div>
        </div>
